<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Hello,</p>
  <p><%= @event.name %> is planned on <%= @event.date %></p>
  <p>Something about Event :</p><p> <%= @event.description %></p>
  <br >
  <p>Thanks in advance for joining event and have a great day!</p>
  </body>
</html>